@import "../reindeer/styles.css";
.v-generated-body {
    background: #abcdef;
}
.v-caption-applicationStack {
    background: #009900;
}

.applicationStackGrid {
    background: #445577;
    border: solid red;    
}

.v-gridlayout-slot {
    border: solid yellow;
}

.applicaitonLayer {
    color: #f1f608
}